*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.logo{
    width: 9rem;
}
.category{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border: none;
    background-color: rgb(191, 220, 245);
    color: rgb(19, 104, 189);
    display: none;
}
.headerleft{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.headercentre{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
    display: none;
}
.centre{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    background-color: transparent;
    color: rgb(100, 100, 100);
}
.searchbutton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8rem;
    border-radius: 0.3rem;
    border-color: grey;
    color: grey;
    background-color: transparent;
    display: none;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-color: rgb(227, 226, 226);
}
header{
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgb(168, 167, 167);
    top: 0;
    left: 0;
    background-color: white;
    z-index: 999;
    position: sticky;
}
.headerright{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.mainleft{
  display: flex;
  flex-direction: column;
  align-items: center;  
  gap: 1rem;
}
.verified{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 14px;
}
#ver{
   font-size: 16px; 
}
.video{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
#getbutton{
    color: rgb(250, 77, 77);
    background-color: rgb(243, 199, 199);
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.3rem;
    border: none;
    font-size: 16px;
}
#video{
    color: black;
    font-size: 19px;
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    background-color: rgb(253, 239, 241);
    padding-bottom: 2rem;
    width: 100%;
}
.box {
    width: 250px;
    height: 100px;
    background-color:rgb(246, 221, 95) ;
    padding: 10px;
    margin: 10px;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .coursebox{
    width: 50px;
    
  }
  .boxtutor{
    width: 250px;
    height: 100px;
    background-color:rgb(247, 243, 235) ;
    padding: 10px;
    margin: 10px;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .boxonline{
    width: 250px;
    height: 100px;
    background-color:rgb(255, 255, 255) ;
    padding: 10px;
    margin: 10px;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border: 0.3px solid rgb(243, 240, 243);
  }
  .boxcertificates{
    width: 250px;
    height: 100px;
    background-color:rgb(159, 158, 158) ;
    padding: 10px;
    margin: 10px;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border: 0.3px solid rgb(243, 240, 243);
  }
  .courses{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    
  }
.webdesign{
    background-color: rgb(38, 98, 217);
    color: white;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border-radius: 0.3rem;
    border: none;
}
.popularbox{
    width: 300px;
    height: 200px;
    background-color:rgb(168, 205, 240) ;
   padding-top: 1rem;
   padding-left: 10rem;
   padding-right: 10rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.3rem;
    padding-bottom: 1rem;
}
.dev{
    background-color: transparent;
    border: none;
    color: rgb(38, 98, 217);
}
.pops{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    padding-top: 3rem;
    
}
.searche{
    display: none;
}
h2{
    font-weight: 1000;
}
#productlist{
    display: grid;
    grid-template-columns: 1fr;   
    margin-top: 2rem;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1370px;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 1.3rem;
    
}
.alllevel{
    border: none;
    background-color: rgb(245, 210, 245);
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    color: blue;
    
}
.alllevell{
    border: none;
    background-color: rgb(231, 250, 229);
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    color: green;   
}
.product{
    border:1px solid white;
    border-radius: 0.3rem;
    background-color: rgb(232, 230, 230);
    
}
.pp{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    
}
.pp a{
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: bold;
}
.pp p{
    color: grey;
}
.product img{
    width: 100%;
}
.starrating{
    padding-top: 0.5rem;
    color: orange;
    padding-left: 0.5rem;
    padding-bottom: 0.3rem;
    border-bottom: 1px solid rgb(185, 182, 182);
}
#rating{
    color: black;
}
.heart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.time{
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    
}
.instructor{
    background-color: rgb(69, 195, 195);
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.3rem;
    padding-left: 2rem;
    padding-top: 1rem;
    margin-top: 3rem;
    color: white;
    padding-right: 3rem;
    max-width: 1320px;
}
#instu{
    padding-top: 0.5rem;
    color: white;
}
#instru{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-color: yellow;
    background-color:rgb(69, 195, 195) ;
    color: yellow;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
}
#angular{
    width: 100%;
    height: 45%;
}
.buttons{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    
}
.twobuttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1rem;
}
#devbutton{
    background-color: rgb(246, 222, 222);
    color: rgb(79, 79, 243);
    border-radius: 0.3rem;
    border: none;
    padding: 0.3rem 0.5rem;
}
#allbutton{
    background-color: rgb(23, 22, 22);
    color: white;
    border-radius: 0.3rem;
    border: none;
    padding: 0.3rem 0.5rem;
}

#courselist{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 2rem;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1370px;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 1.3rem;
}
.star{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
#angularr{
    display: flex;
    padding-left: 1rem;
    padding-top: 0.6rem;
    font-weight: 1000;
}
#date{
    display: flex;
    gap: 0.5rem;
    padding-left: 1rem;
    margin-top: 0.6rem;
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
}
#stars{
    color: rgb(223, 220, 39);
}
#word{
    color: grey;
}
#human{
    width: 50px;
    height: 50px;
}
#name{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.price{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    
    padding-left: 1rem;
    padding-right: 1rem;
}
.coursesbox{
    background-color: rgb(221, 217, 217);
    border-color: black;
    border-radius: 0.5rem;
}
.trendingcourse{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-size: 25px;
   gap: 1rem;
   margin-top: 3rem;
}
.trendingcourse p{
    font-size: medium;
}
.pricebutton{
    background-color: transparent;
    border: none;
    color: green;
    font-size: large;
    font-weight: 800;
}
.feedback{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 224, 226); 
    width: 100%;
    margin-top: 2rem;
    gap: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    }
.feedback p{
        color: grey;
        max-width:350px;
        padding-bottom: 0.5rem;
    }
.fedback{
    background-color: rgb(51, 51, 248);
    color: white;
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
}
#dennis{
    width: 50px;
    border-radius: 2rem;
}
.dennis{
    color: black;
    font-weight: 600;
}
.starratingg{
    color: rgb(225, 214, 97);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#review{
    color: grey;
}
.feedbackde{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem 1rem;
    max-width: 400px;
}
.feedbacklist{
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 0.3rem; 
}
.footertop{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    margin-top: 2rem;
    padding-left: 1rem;
    gap: 1rem;
    max-width: 500px;
}
.company{
    display: flex;
    flex-direction: column;
}
.comunity{
    display: flex;
    flex-direction: column;
    padding-bottom: 3.5rem;
}
.teaching{
    display: flex;
    flex-direction: column;
    padding-bottom: 6rem;
}
.footercentre{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    padding-left: 1rem;
    margin-top: 2rem;
    border-color: 1px solid black;
}
.footercentre a{
    color: grey;
    text-decoration: none;
    padding-top: 1.5rem;
}
#contactimage{
    width: 150px;
    padding-bottom: 1rem;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    padding-left: 2rem;
    margin-top: 1rem;
    gap: 0.5rem;
  

}
.footerimage{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    
}
#fd{
    border-bottom: 1px solid grey;
}
.footerbutton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    color: grey;
}
#footerbuttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.footerend{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 1rem;
}
/* Styles for screens between 576px and 767.98px (Small devices) */
@media (min-width: 576px)   {
    /* Your styles for small screens go here */
    .popularbox{
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
        width: 400px;
        height: 60px;
    }
    #productlist{
        grid-template-columns: 1fr 1fr;
    }
}

/* Styles for screens between 768px and 991.98px (Medium devices) */
@media (min-width: 768px)   {
    /* Your styles for medium screens go here */
    .firstbox{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        width: 1000px;
    }
    .secondbox{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        width: 1000px;
    }
    .popularbox{
        gap: 2rem;
        width: 500px;
        height: 60px;
    }
    #productlist{
        grid-template-columns: 1fr 1fr 1fr;
    }
    #courselist{
        grid-template-columns: 1fr 1fr;
    }
    .feedbacklist{
        grid-template-columns: 1fr 1fr;
       flex-direction: row;
       gap: 1rem;
    }
    }

/* Styles for screens between 992px and 1199.98px (Large devices) */
@media (min-width: 992px)   {
    /* Your styles for large screens go here */
    .popularbox{
        gap: 3rem;
        width: 600px;
        height: 60px;
    }
    #courselist{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .instructor{display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;}
    .feedback{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
        }
     .feedbacklist{
        grid-template-columns: 1fr;
        padding-left: 15rem;
        padding-right: 1rem;
     }   
     #feedback{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 25rem;
        gap: 2rem;
     }
     #fd{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 1300px; 
        margin-left: 8rem;   
        padding-bottom: 1rem;
    }
    .footertop{
        max-width: 400px;
    }
}


/* Styles for screens 1200px and larger (Extra Large devices) */
@media (min-width: 1200px) {
    /* Your styles for extra large screens go here */
    .searchbutton{
        display: flex;
    }
    #menu{
        display: none;
    }
    .headercentre{
    display: flex;
}
.category{
    display: flex;
}
.courses{
    flex-direction: row;
    
}
.popularbox{
    width: 1300px;
}
.searche{
    display: flex;
}
#menus{
    display: none;
}
.popularbox{
    gap: 8rem;
    width: 1300px;
    height: 60px;
}
#productlist{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#courselist{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
}